<a href="https://colab.research.google.com/github/sawsanzaky/Netflix-recommending-_RecomenderSystem/blob/main/Matrix_sparsity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Content-Based Recommendations Engines**

In [6]:
import pandas as pd

**Load Dataset**

In [7]:
!git clone https://github.com/sawsanzaky/Netflix-recommending-_RecomenderSystem

fatal: destination path 'Netflix-recommending-_RecomenderSystem' already exists and is not an empty directory.

In [84]:
user_ratings=pd.read_csv("/content/Netflix-recommending-_RecomenderSystem/user_ratings.csv")

**Data Exploratory Analysis**

In [85]:
user_ratings.head()

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       5  ...  Adventure|Animation|Children|Comedy|Fantasy
2       7  ...  Adventure|Animation|Children|Comedy|Fantasy
3      15  ...  Adventure|Animation|Children|Comedy|Fantasy
4      17  ...  Adventure|Animation|Children|Comedy|Fantasy

[5 rows x 6 columns]

In [86]:
user_ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [87]:
user_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
 4   title      100836 non-null  object
 5   genres     100836 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 4.6+ MB

In [90]:
user_ratings.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
100831    False
100832    False
100833    False
100834    False
100835    False
Length: 100836, dtype: bool

In [91]:
# Transform the table
user_ratings_table = user_ratings.pivot(index='userId', columns='title', values='rating')
# Inspect the transformed table
print(user_ratings_table.head())

In [92]:
# Fill in missing values with 0
user_ratings_table_filled = user_ratings.fillna(0)

# Inspect the result
print(user_ratings_table_filled)

        userId  ...                                       genres
0            1  ...  Adventure|Animation|Children|Comedy|Fantasy
1            5  ...  Adventure|Animation|Children|Comedy|Fantasy
2            7  ...  Adventure|Animation|Children|Comedy|Fantasy
3           15  ...  Adventure|Animation|Children|Comedy|Fantasy
4           17  ...  Adventure|Animation|Children|Comedy|Fantasy
...        ...  ...                                          ...
100831     610  ...                              Action|Thriller
100832     610  ...                           Action|Crime|Drama
100833     610  ...                        Action|Drama|Thriller
100834     610  ...                              Horror|Thriller
100835     610  ...                                       Horror

[100836 rows x 6 columns]

In [94]:
# Count the occupied cells
sparsity_count = user_ratings.isnull().values.sum()

# Count all cells
full_count = user_ratings.size

# Find the sparsity of the DataFrame
sparsity = sparsity_count / full_count
print(sparsity)

0.0